$xs: 480px !default;
$sm: 640px !default;
$md: 768px !default;
$lg: 1024px !default;
$xl: 1280px !default;
$xxl: 1366px !default;
$xxxl: 1920px !default;

@mixin breakpoint-down($size) {
    @if $size==xs {
        @media (max-width: $xs - 1) {
            @content;
        }
    } @else if $size==sm {
        @media (max-width: $sm - 1) {
            @content;
        }
    } @else if $size==md {
        @media (max-width: $md - 1) {
            @content;
        }
    } @else if $size==lg {
        @media (max-width: $lg - 1) {
            @content;
        }
    } @else if $size==xl {
        @media (max-width: $xl - 1) {
            @content;
        }
    } @else if $size==xxl {
        @media (max-width: $xxl - 1) {
            @content;
        }
    } @else if $size==xxxl {
        @media (max-width: $xxxl - 1) {
            @content;
        }
    }
}

@mixin breakpoint-up($size) {
    @if $size==xs {
        @media (max-width: $xs) {
            @content;
        }
    } @else if $size==sm {
        @media (max-width: $sm) {
            @content;
        }
    } @else if $size==md {
        @media (max-width: $md) {
            @content;
        }
    } @else if $size==lg {
        @media (max-width: $lg) {
            @content;
        }
    } @else if $size==xl {
        @media (max-width: $xl) {
            @content;
        }
    } @else if $size==xxl {
        @media (max-width: $xxl) {
            @content;
        }
    } @else if $size==xxxl {
        @media (max-width: $xxxl) {
            @content;
        }
    }
}

@mixin breakpoint($size) {
    @if $size==xs {
        @media (max-width: $xs) {
            @content;
        }
    } @else if $size==sm {
        @media (min-width: ($xs)) and (max-width: $sm - 1) {
            @content;
        }
    } @else if $size==md {
        @media (min-width: ($sm)) and (max-width: $md - 1) {
            @content;
        }
    } @else if $size==lg {
        @media (min-width: ($md)) and (max-width: $lg - 1) {
            @content;
        }
    } @else if $size==xl {
        @media (min-width: ($lg)) and (max-width: $xl - 1) {
            @content;
        }
    } @else if $size==xxl {
        @media (min-width: ($xl)) and (max-width: $xxl - 1) {
            @content;
        }
    } @else if $size==xxxl {
        @media (min-width: ($xxl)) and (max-width: $xxxl - 1) {
            @content;
        }
    }
}
