//
// Custom styles
//
@import './abstracts/variables';

@font-face {
    font-family: 'chalkitup';
    src: url('../fonts/djb_chalk_it_up-webfont.woff2') format('woff2'), url('../fonts/djb_chalk_it_up-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLTStd';
    src: url('../fonts/HelveticaLTStd-Bold.woff2') format('woff2'), url('../fonts/HelveticaLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
    --blue: #62c6f8;
    --yellow: #faee03;

    --nav-bg: black;
    --nav-color: white;
    --nav-color-hover: tomato;
    --nav-active: var(--blue);

    --nav-height: 72px;
    --zindex-nav: 990;

    --marydale: 'marydale', helvetica, sans-serif;
    --chalkitup: 'chalkitup', helvetica, sans-serif;
    --helv: 'HelveticaLTStd', helvetica, sans-serif;
}

#app {
    width: 100%;
}
main {
    margin-top: var(--nav-height);
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
    transition: opacity 0.25s;
}
.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
    opacity: 0;
}

.navdrawer-enter,
.navdrawer-leave-to {
    transform: translateX(100%);
}

.navdrawer-leave,
.navdrawer-enter-to {
    transform: translateX(0);
}

.navdrawer-enter-active,
.navdrawer-leave-active {
    transition: all 250ms;
}
